/* Menu */
.navbar-custom {
    background: #0F0D0B;
    backdrop-filter: blur(10px);
    padding: 15px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.navbar-brand {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.4rem;
    font-weight: bold;
    color: #C9A84C;
    margin-left: 15px;
    transition: 0.3s;
}

.navbar-brand:hover {
    color: #8A6F2E !important;
}

.nav-link {
    color: #7A6E62;
    font-family: 'Jost', serif;
    margin-left: 15px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #8A6F2E !important;
}

.navbar-toggler {
    border-color: #C9A84C; 
    border-width: 2px;    
    padding: 5px;          
}

/* --- muda cor do hamburguer--- */
.navbar-toggler-icon {
    filter: invert(72%) sepia(50%) saturate(450%) hue-rotate(5deg) brightness(95%) contrast(90%);
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem rgba(201, 168, 76, 0.25); 
    
}

/* ------------------------------
Inicio - Seção Principal
--------------------------------- */

.bg-custom {
    background-color: #1C1917;
    background-size: cover;
    background-position: center;
    min-height: 90vh; /* Faz a seção ser alta e imponente */
}

.titulo-principal {
    opacity: 0;
    font-family: 'Cormorant Garamond', serif !important;
    animation: subirEntrada 0.5s ease-out forwards;
    animation-delay: 0.2s;
}

.texto-dourado {
    color: #C9A84C;
}

.linha {
    opacity: 0;
    animation: subirEntrada 0.5s ease-out forwards;
    animation-delay: 0.4s;
}

.deco {
    opacity: 0;
    font-family: 'Jost', sans-serif;
    letter-spacing: 4px; 
    color: #C9A84C;      
    font-size: 0.7rem;
    animation: subirEntrada 0.5s ease-out forwards;
}

.texto-principal {
    opacity: 0;
    font-family:  'Jost', sans-serif;
    color: #C8B99A;
    animation: subirEntrada 0.5s ease-out forwards;
    animation-delay: 0.6s;
}

.container-botoes {
    opacity: 0;
    animation: subirEntrada 0.5s ease-out forwards;
    animation-delay: 0.8s;
}

.btn-explore {
    font-family: 'Jost', serif;
    background-color: #C9A84C;
    color: #0F0D0B;
    border: none;
    padding: 12px 30px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.3s;
}

.btn-explore:hover {
    background-color: #8A6F2E;
    color: rgb(0, 0, 0);
    transform: translateY(-3px); /* Levanta levemente ao passar o mouse */
}

.btn-explore:focus,
.btn-explore:active {
    background-color: #8A6F2E !important;
    color: #F5EDD6 !important;
    border: none !important;
    box-shadow: none !important;
}


.btn-blog-link {
    font-family: 'Jost', serif;
    background: transparent;
    color: #C8B99A;
    padding: 12px 30px;
    transition: 0.3s;
}

.btn-blog-link:hover {
    color: white;
    transform: translateY(-3px);
}

.btn-blog-link:focus,
.btn-blog-link:active {
    color: #f8f8f8 !important;
    border: none !important;
    box-shadow: none !important;
}

.emoji-fundo {
    font-size: clamp(200px, 20vw, 300px);
    opacity: 0.06;
    z-index: 0;
    position: absolute;
    background: radial-gradient(
    circle at center,
    rgba(201, 168, 76, 0.3) 0%,
    rgba(201, 168, 76, 0) 70%
  );
    overflow: hidden;
    user-select: none;
    pointer-events: none;
}

/* keyframe */

@keyframes subirEntrada {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* ---------------------------------
Seção Frase Destaque
---------------------------------*/

.bg-custom-destaque {
    background-color: #27231E;
    background-size: cover;
    background-position: center;
    min-height: 10vh !important;
}



.destaque {
    font-family: 'Cormorant Garamond', serif;
    color: #C8B99A
}

.texto-destaque {
    font-family: 'jost', serif;
    color: #C9A84C;
}


/* ---------------------------------
Rodapé
---------------------------------*/

.bg-footer {
    background: #0F0D0B;
}

.titulo-footer {
    color: #8A6F2E;
    font-family: 'Cormorant Garamond', serif;
}

.text-secondary-custom {
    color: #7A6E62;
    font-family: 'Jost', serif;
}

